In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
df = pd.read_csv("House Price India.csv")

In [60]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
1,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
2,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
3,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
4,6762813105,42491,3,2.50,2600,4750,1.0,0,0,4,...,1951,0,122007,52.9133,-114.590,2380,4750,1,67,790000

### pd.to_timedelta(42491, unit='D') => Timedelta('42491 days 00:00:00')
### '1899-12-30' + 42491 days = 2016-05-24

In [61]:
df['Date']=pd.to_datetime('1899-12-30') + pd.to_timedelta(df['Date'],unit='D')
df['Sale_Year'] = df['Date'].dt.year
df['Sale_Month'] = df['Date'].dt.month

In [62]:
df.drop(columns=['Date','id','living area','lot area'],axis=1,inplace=True)

In [63]:
df.head()

,number of bedrooms,number of bathrooms,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,...,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price,Sale_Year,Sale_Month
0,4,2.50,1.5,0,0,5,8,1910,1010,1909,...,122004,52.8878,-114.470,2470,4000,2,51,1400000,2016,5
1,5,2.75,1.5,0,0,3,8,2910,0,1939,...,122004,52.8852,-114.468,2940,6600,1,53,1200000,2016,5
2,4,2.50,2.0,0,0,3,9,3310,0,2001,...,122005,52.9532,-114.321,3350,42847,3,76,838000,2016,5
3,3,2.00,1.5,0,0,4,8,1880,830,1929,...,122006,52.9047,-114.485,2060,4500,1,51,805000,2016,5
4,3,2.50,1.0,0,0,4,9,1700,900,1951,...,122007,52.9133,-114.590,2380,4750,1,67,790000,2016,5

In [64]:
df.value_counts()

number of bedrooms  number of bathrooms  number of floors  waterfront present  number of views  condition of the house  grade of the house  Area of the house(excluding basement)  Area of the basement  Built Year  Renovation Year  Postal Code  Lattitude  Longitude  living_area_renov  lot_area_renov  Number of schools nearby  Distance from the airport  Price    Sale_Year  Sale_Month
1                   0.50                 1.0               0                   0                3                       6                   500                                    380                   1910        0                122064       52.8032    -114.562   1410               2992            1                         77                         255000   2016       8             1
                    0.75                 1.0               0                   0                2                       4                   430                                    0                     1912        0                122041       52.8799    -114.099   1200               7500            3                         71                         80000    2016       5             1
                                                                                                                                            480                                    0                     1948        0                122052       52.7282    -114.552   1550               9924            2                         71                         145000   2016       8             1
                                                                                                3                       4                   560                                    0                     1967        0                122041       52.9050    -114.044   1300               19207           2                         61                         299000   2016       6             1
                                                                                                                        5                   380                                    0                     1963        0                122056       52.7110    -114.513   1170               15000           2                         56                         245000   2016       6             1
                                                                                                                                                                                                                                                                                                                                                                                                  ..
10                  2.00                 2.0               0                   0                4                       7                   3010                                   600                   1958        0                122027       52.8005    -114.365   2040               11914           1                         75                         650000   2016       10            1
                    3.00                 2.0               0                   0                4                       7                   1860                                   1060                  1913        0                122004       52.8935    -114.510   1810               3745            1                         58                         660000   2016       12            1
                    5.25                 1.0               0                   2                3                       9                   2500                                   2090                  2008        0                122048       52.8161    -114.303   2730               10400           3                         73                         1150000  2016       8             1
11                  3.00                 2.0               0                   0                3                       7                   2400                                   600                   1918        1999             122034       52.7860    -114.553   1420               4960            1                         52                         520000   2016       8             1
33                  1.75                 1.0               0                   0                5                       7                   1040                                   580                   1947        0                122028       52.9178    -114.521   1330               4700            2                         50                         640000   2016       6             1
Name: count, Length: 14619, dtype: int64

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14619 entries, 0 to 14618
Data columns (total 21 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   number of bedrooms                     14619 non-null  int64
 1   number of bathrooms                    14619 non-null  float64
 2   number of floors                       14619 non-null  float64
 3   waterfront present                     14619 non-null  int64
 4   number of views                        14619 non-null  int64
 5   condition of the house                 14619 non-null  int64
 6   grade of the house                     14619 non-null  int64
 7   Area of the house(excluding basement)  14619 non-null  int64
 8   Area of the basement                   14619 non-null  int64
 9   Built Year                             14619 non-null  int64
 10  Renovation Year                        14619 non-null  int64
 11  Postal Code                            14619 non-null  int64
 12  Lattitude                              14619 non-null  float64
 13  Longitude                              14619 non-null  float64
 14  living_area_renov                      14619 non-null  int64
 15  lot_area_renov                         14619 non-null  int64
 16  Number of schools nearby               14619 non-null  int64
 17  Distance from the airport              14619 non-null  int64
 18  Price                                  14619 non-null  int64
 19  Sale_Year                              14619 non-null  int32
 20  Sale_Month                             14619 non-null  int32
dtypes: float64(4), int32(2), int64(15)
memory usage: 2.2 MB

In [66]:
df.describe()

,number of bedrooms,number of bathrooms,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,...,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price,Sale_Year,Sale_Month
count,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,...,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,1.461900e+04,14619.0,14619.000000
mean,3.379233,2.129557,1.502326,0.007661,0.232848,3.430399,7.682263,1801.676654,296.480197,1970.929817,...,122033.064300,52.792843,-114.403996,1996.641836,12754.003078,2.012244,64.951433,5.388063e+05,2016.0,8.230248
std,0.938655,0.769955,0.540241,0.087196,0.765651,0.664047,1.174917,833.737588,448.566731,29.491743,...,19.081451,0.137525,0.141325,691.078387,26059.234785,0.817312,8.936129,3.672294e+05,0.0,2.204285
min,1.000000,0.500000,1.000000,0.000000,0.000000,1.000000,4.000000,370.000000,0.000000,1900.000000,...,122003.000000,52.385900,-114.709000,460.000000,651.000000,1.000000,50.000000,7.800000e+04,2016.0,5.000000
25%,3.000000,1.750000,1.000000,0.000000,0.000000,3.000000,7.000000,1200.000000,0.000000,1951.000000,...,122017.000000,52.707600,-114.519000,1490.000000,5097.500000,1.000000,57.000000,3.200000e+05,2016.0,6.000000
50%,3.000000,2.250000,1.500000,0.000000,0.000000,3.000000,7.000000,1580.000000,0.000000,1975.000000,...,122032.000000,52.806400,-114.421000,1850.000000,7620.000000,2.000000,65.000000,4.500000e+05,2016.0,8.000000
75%,4.000000,2.500000,2.000000,0.000000,0.000000,4.000000,8.000000,2240.000000,580.000000,1997.000000,...,122048.000000,52.908900,-114.315000,2380.000000,10125.000000,3.000000,73.000000,6.450000e+05,2016.0,10.000000
max,33.000000,8.000000,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,...,122072.000000,53.007600,-113.505000,6110.000000,560617.000000,3.000000,80.000000,7.700000e+06,2016.0,12.000000

In [67]:
df.corr()

,number of bedrooms,number of bathrooms,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,...,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price,Sale_Year,Sale_Month
number of bedrooms,1.000000,0.509783,0.177208,-0.006247,0.078157,0.026326,0.352795,0.473482,0.300367,0.153184,...,-0.043978,-0.013226,0.135859,0.389765,0.029436,0.003399,-0.006066,0.308165,NaN,-0.014002
number of bathrooms,0.509783,1.000000,0.502912,0.060107,0.183780,-0.128335,0.663082,0.684418,0.287194,0.498235,...,-0.105504,0.031139,0.223950,0.570524,0.078637,0.002181,0.009232,0.532031,NaN,-0.026133
number of floors,0.177208,0.502912,1.000000,0.016322,0.019860,-0.270136,0.463033,0.525604,-0.242980,0.481733,...,-0.129704,0.050700,0.127627,0.285037,-0.010103,-0.007579,0.016617,0.262649,NaN,-0.009813
waterfront present,-0.006247,0.060107,0.016322,1.000000,0.400567,0.018662,0.079853,0.071885,0.085441,-0.024238,...,0.038311,-0.021792,-0.047799,0.085755,0.032053,0.001563,0.001443,0.263943,NaN,0.009685
number of views,0.078157,0.183780,0.019860,0.400567,1.000000,0.051791,0.254112,0.162193,0.293317,-0.054839,...,0.039834,-0.004734,-0.079411,0.281270,0.072455,0.008015,-0.001397,0.394954,NaN,-0.006638
condition of the house,0.026326,-0.128335,-0.270136,0.018662,0.051791,1.000000,-0.152898,-0.168052,0.180650,-0.381554,...,0.045601,-0.003083,-0.121042,-0.099974,-0.004704,-0.006938,-0.002011,0.040609,NaN,-0.026392
grade of the house,0.352795,0.663082,0.463033,0.079853,0.254112,-0.152898,1.000000,0.758161,0.167187,0.440689,...,-0.146161,0.115202,0.203935,0.719983,0.116779,0.000988,0.005046,0.671805,NaN,-0.032899
Area of the house(excluding basement),0.473482,0.684418,0.525604,0.071885,0.162193,-0.168052,0.758161,1.000000,-0.046446,0.419679,...,-0.083545,-0.000155,0.346094,0.737710,0.194730,-0.002892,0.001322,0.615179,NaN,-0.016194
Area of the basement,0.300367,0.287194,-0.242980,0.085441,0.293317,0.180650,0.167187,-0.046446,1.000000,-0.138861,...,-0.010547,0.112992,-0.145888,0.196417,0.011283,0.010284,0.002924,0.330499,NaN,-0.014314
Built Year,0.153184,0.498235,0.481733,-0.024238,-0.054839,-0.381554,0.440689,0.419679,-0.138861,1.000000,...,-0.062543,-0.143108,0.414523,0.328824,0.072849,-0.001633,-0.004059,0.050936,NaN,-0.004740
Renovation Year,0.016159,0.049676,0.006719,0.085863,0.103103,-0.062103,0.014532,0.025758,0.075104,-0.233732,...,0.017984,0.028916,-0.080069,-0.002582,0.005865,-0.000826,0.005330,0.133362,NaN,-0.013078
Postal Code,-0.043978,-0.105504,-0.129704,0.038311,0.039834,0.045601,-0.146161,-0.083545,-0.010547,-0.062543,...,1.000000,-0.310145,-0.099132,-0.108332,0.077459,0.010604,0.011446,-0.115477,NaN,0.014977
Lattitude,-0.013226,0.031139,0.050700,-0.021792,-0.004734,-0.003083,0.115202,-0.000155,0.112992,-0.143108,...,-0.310145,1.000000,-0.131440,0.046105,-0.091613,0.014950,0.007221,0.297570,NaN,-0.022270
Longitude,0.135859,0.223950,0.127627,-0.047799,-0.079411,-0.121042,0.203935,0.346094,-0.145888,0.414523,...,-0.099132,-0.131440,1.000000,0.341348,0.258056,-0.010165,-0.003158,0.024807,NaN,-0.017079
living_area_renov,0.389765,0.570524,0.285037,0.085755,0.281270,-0.099974,0.719983,0.737710,0.196417,0.328824,...,-0.108332,0.046105,0.341348,1.000000,0.189261,-0.001202,-0.005605,0.585021,NaN,-0.032120
lot_area_renov,0.029436,0.078637,-0.010103,0.032053,0.072455,-0.004704,0.116779,0.194730,0.011283,0.072849,...,0.077459,-0.091613,0.258056,0.189261,1.000000,-0.025015,-0.014602,0.075697,NaN,0.001091
Number of schools nearby,0.003399,0.002181,-0.007579,0.001563,0.008015,-0.006938,0.000988,-0.002892,0.010284,-0.001633,...,0.010604,0.014950,-0.010165,-0.001202,-0.025015,1.000000,0.004034,0.009904,NaN,-0.001489
Distance from the airport,-0.006066,0.009232,0.016617,0.001443,-0.001397,-0.002011,0.005046,0.001322,0.002924,-0.004059,...,0.011446,0.007221,-0.003158,-0.005605,-0.014602,0.004034,1.000000,0.004074,NaN,0.011976
Price,0.308165,0.532031,0.262649,0.263943,0.394954,0.040609,0.671805,0.615179,0.330499,0.050936,...,-0.115477,0.297570,0.024807,0.585021,0.075697,0.009904,0.004074,1.000000,NaN,-0.027941
Sale_Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sale_Month,-0.014002,-0.026133,-0.009813,0.009685,-0.006638,-0.026392,-0.032899,-0.016194,-0.014314,-0.004740,...,0.014977,-0.022270,-0.017079,-0.032120,0.001091,-0.001489,0.011976,-0.027941,NaN,1.000000

In [68]:
df.isnull().sum()

number of bedrooms                       0
number of bathrooms                      0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
Sale_Year                                0
Sale_Month                               0
dtype: int64

In [69]:
df['new_price'] = df['Price']

In [70]:
df.drop(columns=['Price'],index=1,inplace=True)

In [71]:
df.head()

,number of bedrooms,number of bathrooms,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,...,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Sale_Year,Sale_Month,new_price
0,4,2.50,1.5,0,0,5,8,1910,1010,1909,...,122004,52.8878,-114.470,2470,4000,2,51,2016,5,1400000
2,4,2.50,2.0,0,0,3,9,3310,0,2001,...,122005,52.9532,-114.321,3350,42847,3,76,2016,5,838000
3,3,2.00,1.5,0,0,4,8,1880,830,1929,...,122006,52.9047,-114.485,2060,4500,1,51,2016,5,805000
4,3,2.50,1.0,0,0,4,9,1700,900,1951,...,122007,52.9133,-114.590,2380,4750,1,67,2016,5,790000
5,5,3.25,2.0,0,2,3,10,3660,0,2006,...,122008,52.7637,-114.050,3320,11241,3,72,2016,5,785000

In [72]:
X = df.iloc[:,:-1]

In [73]:
X.head()

,number of bedrooms,number of bathrooms,number of floors,waterfront present,number of views,condition of the house,grade of the house,Area of the house(excluding basement),Area of the basement,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Sale_Year,Sale_Month
0,4,2.50,1.5,0,0,5,8,1910,1010,1909,0,122004,52.8878,-114.470,2470,4000,2,51,2016,5
2,4,2.50,2.0,0,0,3,9,3310,0,2001,0,122005,52.9532,-114.321,3350,42847,3,76,2016,5
3,3,2.00,1.5,0,0,4,8,1880,830,1929,0,122006,52.9047,-114.485,2060,4500,1,51,2016,5
4,3,2.50,1.0,0,0,4,9,1700,900,1951,0,122007,52.9133,-114.590,2380,4750,1,67,2016,5
5,5,3.25,2.0,0,2,3,10,3660,0,2006,0,122008,52.7637,-114.050,3320,11241,3,72,2016,5

In [74]:
y = df['new_price']

In [75]:
y.head()

0    1400000
2     838000
3     805000
4     790000
5     785000
Name: new_price, dtype: int64